* {
	margin: 0;
	padding: 0;
	font-family: san-serif;
	box-sizing: border-box;
}

body {
    border: 2px solid red;
    height: 650px;
}

header {
    height: 60px;
    display: grid;
    grid-template-columns: 220px 1fr 380px;
    padding: 20px;
    font-size: 20px;
}

.homeLogo {
    display: flex;
}

.emailIcon {
    display: flex;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    display: flex;
}

main {
    border: 2px solid blue;
    height: 540px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle-container {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 40px;
}

.middle-container h1 {
    font-size: 100px;
}

.firstName {
    display: flex;
    justify-content: start;
}

.lastName {
    display: flex;
    justify-content: end;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.aboutMeText {
    display: flex;
    padding: 5px;
}

.right-container {
    display: flex;
    justify-content: center;
}

.right-container img {
    height: 520px;
}

footer {
    border: 2px solid yellow;
    height: 50px;
    display: grid;
}