* {
	margin: 0;
	padding: 0;
	font-family: san-serif;
	box-sizing: border-box;
}

body {
    border: 2px solid red;
    height: 650px;
}

header {
    height: 60px;
    display: grid;
    grid-template-columns: 180px 1fr 220px;
    padding: 20px;
}

.homeLogo {
    display: flex;
}

.emailLogo {
    display: flex;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    display: flex;
}

main {
    border: 2px solid blue;
    height: 540px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-container {
    border: 2px solid yellow;
}

.right-container {
    display: flex;
    justify-content: center;
}

.right-container img {
    height: 520px;
}

footer {
    border: 2px solid yellow;
    height: 50px;
    display: grid;
}